
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post" action=@Url.Action("getData", "Home")>
    <p>Category</p>

    <select name="category">
        <option value="m">Math</option>
        <option value="c">Chemistry</option>
        <option value="b">Biology</option>
    </select>


    <p>Name:</p>
    <input type="text" name="name" value="TestExe" />

    <p>Equation/Formula</p>
    <input type="text" name="equation" value="Sin[x+y]" />
    <input type="submit" value="Submit" />

</form>
